* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 12vh;
    font-family: sans-serif;
    background-color:rgb(61, 56, 56);
}
 
#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    position: absolute;
    background-color: rgb(61, 56, 56);
    left: 0px;
    top: -90vh;
    width: 220px;
    align-items: center;
    list-style: none;
    transition: all 1s;
    z-index: 1;
}
 
#nav-links a {
    text-decoration: none;
    color: yellow;
    letter-spacing: 0.15rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 220px;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.nav-active {
    transform: translateY(100vh);
}
 
#nav-links a:hover {
    color: lightgreen;
    background-color: darkgreen;
    transition: ease 0.4s;
}
 
.burger_line {
    width: 25px;
    height: 3px;
    background-color: yellow;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

#line_2 {
    transform: rotate(45deg) translate(-0.5px, -5.5px);
}
#line_1 {
    transform: rotate(-45deg) translate(0.5px, 5.5px);
}
 
.crossed_line #line_2 {
    transform: rotate(0deg) translate(-0px, -8px);
}
 
.crossed_line #line_1 {
    transform: rotate(-90deg) translate(0px, 0px);
}
 
#burger {
    margin-left: 80px;
    cursor: pointer;
}

.gridWrapper {
    display: grid;
    width: 60vw;
    height: 35vw;
    margin: 25px;
    margin-left: 250px;
    margin-bottom: 15vw;

    grid-template-areas: 
    "a1 a1 a2 a2 a2 a2"
    "a3 a3 a4 a4 a5 a5"
    "a6 a6 a6 a6 a5 a5"
    ;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}

.article1 {
    grid-area: a1;
    background: url(../img/decline.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
    border-radius: 25px;
    width: 15vw;
    height: 11vw;
    margin-left: 5vw;
 }
  
 .article2 {
    grid-area: a2;
    background: url(../img/development.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
    width: 32vw;
 }
  
 .article3 {
    grid-area: a3;
    background: url(../img/maturity.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    border-radius: 25px;
    height: 15vw;
 }
  
 .article4 {
    grid-area: a4;
    background: url(../img/product.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
    border-radius: 25px;
 }
  
 .article5 {
    grid-area: a5;
    background: url(../img/introduction.jpg);
    background-repeat: no-repeat;
    background-size: 190%;
    border-radius: 25px;
    height: 20vw;
 }
  
 .article6 {
    grid-area: a6;
    background: url(../img/growth.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
    width: 30vw;
    height: 11vw;
    margin-left: 11vw;
 }

strong, #subheading_span {
    grid-area: text; 
    display: flex;
    justify-content: center;
     align-items: center;
     text-align: center; 
 }

 strong > * {
    background-color: gray;
    font-family: sans-serif;
    font-size: 6.25rem;
    color: yellow;
    width: 100%;
    height: 9.375rem;
    padding-top: 1.875rem;
    text-shadow: 2px 2px 8px black;
}

 #subheading_span > * {
     background-color: gray;
     font-family: sans-serif;
     font-size: large;
     color: yellow;
     width: 100%;
     height: 4.375rem;
     text-shadow: 2px 2px 8px black;
 }

 /**/

 #explanation_section .container > span {
     display: inline-flex;
     justify-content: center;
     align-items: center;
 }

 #explanation_section .container {
	display: inline-flex;
	justify-content: center;
    width: 100%;
	margin-top: 9rem;
    margin-bottom: 8rem;
}
#explanation_section .container > span {
	width: 25vw;
    height: 15vw;
	box-sizing: border-box;
	position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#explanation_section .container > span > * {
	text-decoration: none;
    color: white;
    background: rgb(61, 56, 56);
    font-family:sans-serif;
    padding: 15px;
    border-radius: 10px;
}
#life_cycle_span {
	margin-right: 7%;
	background: url(../img/life\ cycle.jpg);
	background-size: 25vw;
    background-repeat: no-repeat;
    border-radius: 25px;
}
#sustainable_development_span {
	margin-left: 7%;
	background: url(../img/sustainable\ development.jpg);
    background-size: 30vw;
    background-repeat: no-repeat;
    border-radius: 25px;
}

/**/

.vertical_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    height: 140px;
}
.vertical_box > *:first-child {
    margin-right: -30px;
}
.vertical_box > *:not(:first-child):not(:last-child) {
    margin-left: -10px;
    margin-top: 70px;
}
.vertical_box > *:last-child {
    position: absolute;
    margin-top: 35px;
}

span.a {
    display: block;
    box-sizing: border-box;
    width: 25vw;
    height: 10vw;
    padding: 25px;
    background-color: darkgreen;
    border-radius: 25px;
    margin-left: 20vw;
}

span.b {
    display: block;
    box-sizing: border-box;
    width: 25vw;
    height: 10vw;
    padding: 25px;
    background-color: rgb(61, 56, 56);
    border-radius: 25px;
    margin-right: 20vw;
}

.vertical_box > * {
    text-decoration: none;
    font-size: 1.125rem;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
}

/**/

.image {
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-weight: bold;
    border: 3px solid white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 1.25rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px black;
}

#list {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7rem;
    list-style-type: none;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.9375rem;
    margin-top: 100px;
}
#list li {
    margin: 5rem;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

#diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vw;
    border-radius: 25px;
    margin-bottom: 130px;
    box-shadow: 10px 10px;
}

.life_cycle img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
    width: 35vw;
    border-radius: 25px;
    margin-bottom: 100px;
    box-shadow: 10px 10px;
}

/**/

#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 50vw;
    border-radius: 25px;
    margin-bottom: 130px;
}

.vertical_text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

.text_1 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    width: 280px;
    border: 5px solid black;
    padding: 0.9375rem;
}

.text_2 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    width: 280px;
    border: 5px solid black;
    padding: 0.9375rem;
}

.text_3 {
    display: block;
    box-sizing: border-box;
    margin: 2.5rem;
    width: 280px;
    border: 5px solid black;
    padding: 0.9375rem;
}

/**/

.vertical_picture_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    height: 140px;
}
.vertical_picture_1 > *:first-child {
    margin-left: -70vw;
}
.vertical_picture_1 > *:not(:first-child):not(:last-child) {
    margin-left: -10px;
    margin-top: 70px;
}

.vertical_picture_1 > *:last-child {
    position: absolute;
    margin-top: 40px;
    margin-right: 450px;
}

.vertical_picture_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    height: 140px;
}
.vertical_picture_2 > *:first-child {
    margin-left: 30vw;
}
.vertical_picture_2 > *:not(:first-child):not(:last-child) {
    margin-left: -10px;
    margin-top: 70px;
}

.vertical_picture_2 > *:last-child {
    position: absolute;
    margin-top: 40px;
    margin-right: -450px;
}

.color {
    display: block;
    box-sizing: border-box;
    width: 20vw;
    height: 15vw;
    padding: 25px;
    background-color: darkgreen;
    border-radius: 25px;
    margin-left: 20vw;
}


.picture {
    display: block;
    box-sizing: border-box;
    width: 30vw;
    height: 15vw;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}

.picture img {
    width: 100%;
    border-radius: 25px;
}

br {
    content: "";
    margin: 5em;
    display: block;
    font-size: 24%;
}

p {
    text-indent: 3.125rem;
    letter-spacing: 0.0625rem;
    line-height: 1.2;
    word-spacing: 0.0625rem;
    text-align: justify;
    text-align-last: left;
}

h2 {
    margin: 1.5rem;
}

/**/

#info_section {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#info_section * {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
 
#info_section ul {
    list-style-type: none; /* detta är för att ta bort prickarna som blir */
    width: 100%;
}
 
#info_section h2 {
    font-size: small;
    margin: 5px;
}
 
#info_section ul > li {
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;  
    font-family: sans-serif;
    font-size: small;
}
 
/* ta bort tidigare inställningar på vår <a> tagg */
#info_section a {
    color: white !important;
    background: transparent;
    opacity: 100% !important;  
}
 
/* speciella inställningar för mail och telefon raden */
#mail_li {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mail dot phone";
}
#mail_a {
    grid-area: mail;
    text-align: right;
}
#dot_a {
    grid-area: dot;
    width: 5rem;
}
#phone_a {
    grid-area: phone;
    text-align: left;
}
